/* Navbar/Header CSS */
.nav-ul {
  padding: 5px;
  margin: 0px;
  background-color: #00264d;
}

.nav-right {
  text-align: right;
}

.nav-ul li {
  display: inline-block;
  padding: 10px; 
}

.nav-ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

/* Footer CSS */
.footer {
  color: #fff;
  background-color: #00264d;
  width: 100%;
  text-align: center;
}

/* Sign Up and Login CSS // Add Product CSS */
.addProductDivForm, .updateProductDivForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 20px;
}

.loginDivPage, .signUpDivPage, .addProductDivPage, .updateProductDivPage, .profileDivPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
}

.loginDivContentBox, .signUpDivContentBox, .addProductDivContentBox, .updateProductDivContentBox {
  width: 23%;
  padding: 20px;
}

.loginDivImg, .signUpDivImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.loginDivForm, .signUpDivForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid lightgrey;
  border-radius: 3%;
  padding: 25px 20px;
}

.inputFieldLabels {
  display: block;
  padding-left: 3px;
  padding-bottom: 3px;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 500;
}

.inputBox {
  padding: 7px;
  display: block;
  border: 1px solid #00264d;
  border-radius: 4px;
}

.mainButtonTheme {
  width: 100%;
  margin-top: 15px;
  padding: 7px;
  color: white;
  background-color: #003366;        /* Main buttons are a lighter shade to the theme of the web app */
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Logo CSS */
.nav-logo {
  height: 40px;
  width: 120px;
  float: left;
  padding: 5px 5px 5px 0px;
  margin-left: 20px;
}

.loginLogo, .signUpLogo {
  display: block;
  height: 60px;
}

/* Invalid Input CSS */
.invalid-input {
  display: block;
  color: red;
  font-size: small;
}

/* Product List Page CSS */
.search-product-box {
  width: 400px;
  height: 38px;
  margin: 20px;
  padding-left: 30px;
  border: solid 1px #00264d;
  border-radius: 5px;
}

.plSearchProductButton {
  height: 25px;
  width: 60px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color:#00264d;
  cursor: pointer;
}

.numProductsSpan {
  display: block;
  padding-bottom: 10px;
  font-size: 12px;
}

.product-list {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
  height: 1000dvh;
}

.product-list ul {
  margin: 0;
}

.product-list ul li {
  display: inline-block;      /* Changes from row to col / removes bullet points */
  height: 28px;
  width: 150px;
  border: 1px solid #00264d;
  padding: 5px;
}

/* Product List Update and Delete Buttons CSS */
.plUpdateProductButton {
  height: 20px;
  width: 40%;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  background-color: orange;
  cursor: pointer;
}

.plDeleteProductButton {
  height: 20px;
  width: 40%;
  border: none;
  border-radius: 3px;
  background-color:tomato;
  cursor: pointer;
}

/* Profile Page CSS */
.profile-details-container {
  display: flex;
  flex-direction: column;
  background-color:#f2f2f2;
  width: 50%;
  height: 70%;
  margin-top: 20px;
  padding: 15px;
  border-radius: 20px;
}

.profile-details-container > h3 {
  padding-left: 10px;
  margin-bottom: 5px;
}

.form-group {
  padding: 10px 10px;
}

.form-group > input {
  padding: 5px;
  height: 25px;
  width: 350px;
  border-radius: 4px;
}

.profileButtonsDiv {
  display:flex;
  align-self: flex-end;
}

.profileButtonsDiv > button {
  padding: 7px;
  width: 60px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* CSS Element Selectors */
h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}

h4 {
  font-size: small;
  font-weight: 400;
}


/* Main App CSS */
.App {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}